.container-fluid {
    background: #e3f9ff;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container-fluid .calculator {

    background: #3a4552;
    border-radius: 10px;
    padding: 20px;

}

.calculator .row {

    text-align: center;
}

.row .output {

    margin: 20px 0px;

   

}

.col input[type='text'] {

    background: transparent;
    text-align: right;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    width: 100%;
    padding: 10px 0px;
    font-size: 25px;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    outline: none;

}

.col input[type='text']:focus {

    color: #33ffd8;
}

.col input[type='button'] {

    border-radius: 10px;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: transparent;

    width: 60px;
    height: 60px;
    cursor: pointer;
    border: 0;
    outline: 0;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    margin: 4px;
    width: 52px;
    height: 52px;
    cursor: pointer;
    border: 0;
    outline: 0;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0,0,0,0.2);
    margin: 8px;
    

}

.col #equal {

    width: 130px;
    color: #33ffd8;
    font-size: 20px;
}

.col #delete,
#clear {

    color: #33ffd8;
}


@media (max-width:576px) and (min-width:300px) {

    .col input[type='button'] {

        margin: 4px;
        width:50px;
        height: 50px;
    }
    .col #equal {

        width: 88px;
    }
    .col input[type='text'] {

        font-size: 18px;
        padding: 10px 0px;
    }




}
